<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="../Content/styles.css" >

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <!-- <h1><a class="navbar-brand" href="#">Doctor Patient Database</a></h1> -->
    </div>
    <ul class="nav navbar-nav">
      <li><a class="active" href="/">Home</a></li>
      <li><a class="active" href="/doctors">View Doctors</a></li>
      <li><a class="active" href="/patients">View Patients</a></li>
      <li><a class="active" href="/patients/new">Add New Patients</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span>Contact</a></li>
    </ul>
  </div>
</nav>
<h1>Doctor Patient Database</h1>
<hr>
<h4>@Model.GetName()</h4>
<form action="/doctor/delete/@Model.GetId()" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <button type="submit">Delete</button>
</form>
<a class="tag" href="/">Home</a>
