<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="../Content/styles.css" >
<h1>Doctors</h1>
<hr>
<br>
<form action="/doctors/new" method="post">
  <label for="doctor-name">Doctor Name</label>
  <input id="doctor-name" name="doctor-name" type="text">
  <button class="butt" type="submit">Add</button>
</form>
