<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="../Content/styles.css" >
<h1>All Patients for this Category</h1>
<hr>

@if (@Model["patients"].Count == 0)
{
  <p>No Patients have been Added!</p>
}
else
{
  <ol>
    @foreach (var patient in @Model["patients"])
    {
      <li>@patient.GetName()</li>
    }
  </ol>
}

<p><a class="tag" href="/patients/new">Add Patient</a></p>
<Br>
<p><a class="tag" href="/">Back Home</a></p>
