<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="Content/styles.css" >
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <!-- <h1><a class="navbar-brand" href="#">Doctor Patient Database</a></h1> -->
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      <li><a class="active" href="/doctors">View Doctors</a></li>
      <li><a class="active" href="/patients">View Patients</a></li>
      <li><a class="active" href="/doctors/new">Add Doctor</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span>Contact</a></li>
    </ul>
  </div>
</nav>
<h1>Doctor Patient Database</h1>
<hr>
<h2 class="doc">Doctors:</h2>
<br>
<ul>
  @if (Model.Count !=0)
  {
    @foreach(var doctor in Model)
    {
      <li><a class="siz" href="/doctors/@doctor.GetId()">@doctor.GetName()</a> | <a class="siz" href="/doctor/edit/@doctor.GetId()">Edit</a> | <a class="siz" href="doctor/delete/@doctor.GetId()">Delete</a></li>
    }
  }
  <br>
  <br>
  <br>
</ul>
<!-- <h4><a class="tag" href="/doctors/new">Add Doctor</a></h4> -->
<br>


<form action="/doctors/clear" method="post">
  <button class="but" type="submit">CLEAR LIST</button>
</form>
