<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="../Content/styles.css" >
<h1>Doctor Patient Database</h1>
<hr>
<h4>@Model.GetName()</h4>
<form action="/doctor/delete/@Model.GetId()" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <button type="submit">Delete</button>
</form>
<a class="tag" href="/">Home</a>
