<h1>Doctor Patient Database</h1>
<hr>
<br>


<h3>For a List of Doctors: Click the link bleow</h3>

<h4><a href ="/doctors">Doctors</a></h4>
<br>

<h3>For a list of Patients: Click link bleow</h3>

<h4><a href ="/patients"> Clients</a></h4>
