<link rel="stylesheet" href="../Content/styles.css" >

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

<h1>Add Patient</h1>
<hr>
<form action="/patients/new" method="post">
  <label for="patient-name">Name</label>
  <input id="patient-name" name="patient-name" type="text">
  <select name="doctor-id">
    @foreach (var doctor in Model)
    {
      <option value="@doctor.GetId()">@doctor.GetName()</option>
    }
  </select>
  <button class="butt" type="submit">Add</button>
</form>
<br>
<a href="/">Home</a>
<br>
<br>
<a href="/patients">Patients</a>
