<h1>Add Patient</h1>
<hr>
<form action="/patients/new" method="post">
  <label for="patient-name">Name</label>
  <input id="patient-name" name="patient-name" type="text">
  <select name="doctor-id">
    @foreach (var doctor in Model)
    {
      <option value="@doctor.GetId()">@doctor.GetName()</option>
    }
  </select>
  <button type="submit">Add</button>
</form>
<a href="/">Home</a>
<br>
<a href="/patients">Patients</a>
