<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="../Content/styles.css" >

@if (@Model.Count == 0)
{

}
else
{
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <!-- <h1><a class="navbar-brand" href="#">Doctor Patient Database</a></h1> -->
      </div>
      <ul class="nav navbar-nav">
        <li><a class="active" href="/">Home</a></li>
        <li><a class="active" href="/doctors">View Doctors</a></li>
        <li><a class="active" href="/patients">View Patients</a></li>
        <li><a class="active" href="/patients/new">Add New Patients</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span>Contact</a></li>
      </ul>
    </div>
  </nav>
  <h1>Here is a List of Patients</h1>
  <hr>
  <ul>
    @foreach (var patient in Model)
    {
      <li class="sub">@patient.GetName()</li>
    }
  </ul>
  <br>
  <br>
  <br>
  <br>
  <br>
  <form action="/patients/delete" method="post">
    <button class="but" type="submit">Clear All</button>
  </form>
}
